<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h1>New event</h1>

<h3>Enter info about event:</h3>
<form name='f' action="#" th:action="@{/save-twit}" th:object="${twit}" method='POST'>
    <table>
        <tr>
            <td>Creator:</td>
            <td><label>
                <input type='text' th:field="*{userName}">
            </label></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><input type='text' th:field="*{content}"></td>
        </tr>
        <tr>
            <td><input name="submit" type="submit" value="submit" /></td>
        </tr>
    </table>
</form>


</body>

</html>